<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @estado_tarea.nombre %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @estado_tarea.descripcion %>
</p>

<%= link_to 'Edit', edit_estado_tarea_path(@estado_tarea) %> |
<%= link_to 'Back', estado_tareas_path %>
