<%= form_for(@usuario_proyecto) do |f| %>
  
  <% if @usuario_proyecto.errors.any? %>
    <div id="error_explanation">
    
      <p class="alert alert-danger" align="center">
        <b>ERROR</b><br>
        <% @usuario_proyecto.errors.full_messages.each do |message| %>
          <%= message %><br>
        <% end %>
      </p>
      
      <br>
      </div>
  <% end %>
        
    <div class="field" style="visibility:hidden;position:absolute" >
      <%= f.label :proyecto_id %>
      <%= f.collection_select :proyecto_id, Proyecto.all, :id, :id,:selected => @proyecto.id, prompt: true %>
    </div>
<table style="width:50%;margin:0 auto">
  <tr>
    <td>
    <div class="field">
      <%= f.collection_select :user_id, User.all, :id, :nombre, prompt: "Seleccione usuario" %>
    </div>
    </td>
    <td>
    <div class="actions">
      <%= f.submit "Agregar Usuario", :class => "btn btn-primary btn-xs" %>
    </div>
    </td>
    <td>
    <div class="actions">
    <%= link_to "Listo", proyecto_path(@proyecto), :class=>"waves-effect waves-light btn", :style => "color:white" %>
    </div>
    </td>
  </tr>
  </table>
<% end %>

