<p id="notice"><%= notice %></p>

<p>
  <strong>Proyecto:</strong>
  <%= @usuario_proyecto.proyecto %>
</p>

<p>
  <strong>User:</strong>
  <%= @usuario_proyecto.user %>
</p>

<%= link_to 'Edit', edit_usuario_proyecto_path(@usuario_proyecto) %> |
<%= link_to 'Back', usuario_proyectos_path %>
