<br/>
<p id="notice"><%= notice %></p>

<h3>Proyectos</h3>

<table>
<tr>
<td>
<%= link_to 'Nuevo Proyecto', new_proyecto_path, :class => "waves-effect waves-light btn float-left", :style => "color:white;margin-left:0px" %>
</td>
</tr>
</table>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Fecha inicio</th>
      <th>Fecha fin</th>
      <th>Ver Detalles</th>
    </tr>
  </thead>

  <tbody>
    <% @proyectos.each do |proyecto| %>
      <tr>
        <td><%= proyecto.nombre %></td>
        <td><%= proyecto.fecha_inicio %></td>
        <td><%= proyecto.fecha_fin %></td>
        <td><%= link_to 'Ver Detalles', proyecto %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
