<% if user_signed_in? %>
<p id="notice"><%= notice %></p>

<h1>Proyectos</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Descripcion</th>
      <th>Fecha inicio</th>
      <th>Fecha fin</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @proyectos.each do |proyecto| %>
      <tr>
        <td><%= proyecto.nombre %></td>
        <td><%= proyecto.descripcion %></td>
        <td><%= proyecto.fecha_inicio %></td>
        <td><%= proyecto.fecha_fin %></td>
        <td><%= link_to 'Mostrar', proyecto, :class => 'navbar-link pink-text text-lighten-3' ,:style=> "color:#A2C4DC " %></td>
        <td><%= link_to 'Editar', edit_proyecto_path(proyecto), :class => 'navbar-link pink-text text-lighten-3' ,:style=> "color:#A2C4DC " %></td>
        <td><%= link_to 'eliminar', proyecto, method: :delete, data: { confirm: '¿Estás seguro que quieres eliminarlo?' }, :class => 'navbar-link pink-text text-lighten-3' ,:style=> "color:#A2C4DC " %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo Proyecto', new_proyecto_path, :class=>"waves-effect waves-light btn", :style => "color:white" %>
<% end %>