<div style="margin:0 auto;width:70%">
<h3>Proyectos</h3>

<p>
  A continuación se muestran los proyectos asociados al usuario de la sesión actual, tanto los que ha creado como a los que ha sido incluido. Para agregar un proyecto, presione el botón "Nuevo Proyecto" y para ver más información sobre cada proyecto presione "Ver Detalles".
</p>

<table>
<tr>
<td>
<%= link_to 'Nuevo Proyecto', new_proyecto_path, :class => "waves-effect waves-light btn float-left", :style => "color:white;margin-left:0px" %>
</td>
</tr>
</table>

<h5>Mis proyectos</h5>
<table>
  
  <tbody>
    <% @proyectos.each do |proyecto| %>
    <% @usuario_proyectos.each do |usuario_proyecto| %>
      <tr>
      <% if (proyecto.id == usuario_proyecto.proyecto_id and usuario_proyecto.user_id==current_user.id) %>

        <ul class="collection">
          <li class="collection-item avatar">
            <i class="mdi-file-folder circle"></i>
            <span class="title">Proyecto: <%= proyecto.nombre %></span>
            <p>Duración: <%= proyecto.fecha_inicio %> hasta <%= proyecto.fecha_fin %><br>
              <%= link_to 'Ver Detalles', proyecto %>
            </p>            
          </li>
        </ul> 

      </tr>

      <%end%>
      <%end%>
    <% end %>
  </tbody>
</table>

<br>
</div>