<% if user_signed_in? %>

<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @proyecto.nombre %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @proyecto.descripcion %>
</p>

<p>
  <strong>Fecha inicio:</strong>
  <%= @proyecto.fecha_inicio %>
</p>

<p>
  <strong>Fecha fin:</strong>
  <%= @proyecto.fecha_fin %>
</p>

<%= link_to 'Editar', edit_proyecto_path(@proyecto), :class => 'navbar-link pink-text text-lighten-3' ,:style=> "color:#A2C4DC " %> |
<%= link_to 'Atrás', proyectos_path, :class => 'navbar-link pink-text text-lighten-3' ,:style=> "color:#A2C4DC " %>
<%end%>