  <h3>Proyecto <%= @proyecto.nombre %></h3>
    
<table style="width:70%;margin:0 auto">
<thead>
	<tr>
		<th>Descripción:</th>
	</tr>
</thead>
<tbody>
	<tr>
		<td><%= @proyecto.descripcion %></td>
	</tr>
</tbody>
</table>

<table style="width:70%;margin:0 auto">
	<tr>
		<td><b>Fecha inicio:</b></td>
		<td><%= @proyecto.fecha_inicio %></td>
		<td>&nbsp</td>
		<td><b>Fecha fin:</b></td>
		<td><%= @proyecto.fecha_fin %></td>
	</tr>
</table>

<table style="width:20%;margin:0 auto">
	<tr>
		<td>
			<%= link_to 'Editar Poryecto', edit_proyecto_path(@proyecto), :class=>"waves-effect waves-light btn", :style => "color:white" %>
		</td>
		<td>
			<%= link_to 'Volver', proyectos_path, :class=>"waves-effect waves-light btn", :style => "color:white" %>
		</td>
	</tr>
</table>

<br/>

<table style="width:70%;margin:0 auto">
	<thead>
		<tr>
			<th width="10%">Colaboradores</th>
			<td><%= link_to 'Editar', new_usuario_proyecto_path(id: @proyecto), :class=>"waves-effect waves-light btn", :style => "color:white" %></td>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td colspan="2">
			<% @usuarios.each do |usuario| %>
			<% @user.each do |user| %>
			<%if (usuario.user_id == user.id)%>
				 <%= user.nombre %> <%= user.apellido %><br/>
			<% end %>
			<% end %>
			<% end %>
			</td>
		</tr>
	</tbody>
</table>