<div style="margin:0 auto;width:50%">
<h3>Cambiar contraseña</h3>  
<p>
  A continuación ingrese la nueva contraseña o password y luego repitala para confirmarla, luego presione "Guardar" para guardar los cambios.
</p>
  
<%= form_for @user do |f| %>  
  <% if @user.errors.any? %>  
    <div class="alert alert-danger" role="alert" style="text-align:center">
      <ul>  
        <% for message in @user.errors.full_messages %>  
          <li><%= message %></li>  
        <% end %>  
      </ul>  
      <br/>
    </div>  
  <% end %>
  <div class="field">
    <%= label_tag "Nuevo password: "%>
    <%= f.password_field :password %>  
  </div>
  <div class="field">
    <%= label_tag "Confirme nuevo password: " %>  
    <%= f.password_field :password_confirmation %>  
  </div>
  <br/>
  <div style="text-align:center">
  <%= f.submit "Guardar", :class => "btn btn-success", :style => "margin-right:5%", data:{confirm: "¿Desea guardar la nueva contraseña?"} %><%= link_to "Volver", user_path(current_user), :class => "btn btn-success", :style => "margin-left:5%" %>
  </div>
<% end %>  
</div>
<%= $edit %>