<div style="margin:0 auto;width:50%">
<h3>Editar Usuario</h3>  
  
<%= form_for @user do |f| %>  
  <% if @user.errors.any? %>  
    <div class="error_messages">  
      <h2>Form is invalid</h2>  
      <ul>  
        <% for message in @user.errors.full_messages %>  
          <li><%= message %></li>  
        <% end %>  
      </ul>  
    </div>  
  <% end %>
  <div class="field">
    <%= f.label :nombre %><br/>
    <%= f.text_field :nombre %>  
  </div>
  <div class="field">
    <%= f.label :apellido %> 
    <%= f.text_field :apellido %>  
  </div>
  <div class="field">
    <%= f.hidden_field :tipo, :value=> 'alumno' %> 
  </div>
  <div class="field">
    <%= f.label :email %> 
    <%= f.text_field :email %>  
  </div>
  <br/>
  <div style="text-align:center">
  <%= f.submit "Guardar", :class => "btn btn-success", :style => "margin-right:5%" %><%= link_to "Volver", user_path(current_user), :class => "btn btn-success", :style => "margin-left:5%" %></div>
<% end %>  
</div>