<div style="margin:0 auto;width:50%">
<h3>Cambiar Imagen de Perfil</h3>  
<p>
  A continuación ingrese la URL de la imagen que desea como imagen de perfil, luego presione el botón guardar para conservarla. Este cambio no afectará a la imagen almacenada en Gravatar. Para dejar la imagen de Gravatar como imagen de perfil simplemente deje en blanco el campo "Link Imagen".
</p>
<%= form_for @user do |f| %>  
  <% if @user.errors.any? %>  
    <div class="error_messages">  
      <h2>Form is invalid</h2>  
      <ul>  
        <% for message in @user.errors.full_messages %>  
          <li><%= message %></li>  
        <% end %>  
      </ul>  
    </div>  
  <% end %>
  <div class="field">
    <%= label_tag "Link imagen:" %>  
    <%= f.text_field :avatar_url %>  
  </div>
  <br/>
  <div style="text-align:center">
  <%= f.submit "Guardar", :class => "btn btn-success", :style => "margin-right:5%",data: {confirm: "¿Esta seguro que desea guardar la nueva imagen?"} %><%= link_to "Volver", user_path(current_user), :class => "btn btn-success", :style => "margin-left:5%" %>
  </div>
<% end %>
</div>