<div style="margin:0 auto;width:50%">    
    <h3>Registrarse</h3>  
      
    <%= form_for @user do |f| %>  
      <% if @user.errors.any? %>  
        <div class="alert alert-danger" role="alert" style="text-align:center">  
            <ul>  
              <% for message in @user.errors.full_messages %>  
                <li><%= message %></li>  
              <% end %>  
            </ul>
            <br/>  
        </div>  
      <% end %>
      <br/>
      <div class="field">
        <%= f.label :nombre %>
        <%= f.text_field :nombre %>  
      </div>
      <div class="field">
        <%= f.label :apellido %>
        <%= f.text_field :apellido %>  
      </div>
      <div class="field">
        <%= f.hidden_field :tipo, :value=> 'alumno' %> 
      </div>
      <div class="field">
        <%= f.label :email %> 
        <%= f.text_field :email %>  
      </div>
      <div class="field">
        <%= f.label :password %> 
        <%= f.password_field :password %>  
      </div>
      <div class="field">
        <%= label_tag "Confirmación de password" %>  
        <%= f.password_field :password_confirmation %>  
      </div>
      <br/>
      <div style="text-align:center" ><%= f.submit "Registrar", :class => "btn btn-success", :style => "margin-right:5%"%><%= link_to "Volver", root_path, :class => "btn btn-success", :style => "margin-left:5%" %></div>
    <% end %>  
</div>