<%= form_for(@usuario_acta_reunion) do |f| %>
  <% if @usuario_acta_reunion.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@usuario_acta_reunion.errors.count, "error") %> prohibited this usuario_acta_reunion from being saved:</h2>

      <ul>
      <% @usuario_acta_reunion.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :acta_reunion_id %><br>
    <%= f.text_field :acta_reunion_id %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.text_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :secretario %><br>
    <%= f.check_box :secretario %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
